$body-background: #ffffff;
$primary-color: #00757f;
$primary-color-hover: #00676f;
$secondary-color: #f2f1f0;
$secondary-color-hover: #e9e7e5;



$info-color: #03afbf;
$success-color: #1cc43b;
$warning-color: #ed9d07;
$danger-color: #f3382b;
$dark-color: #232527;
$default-text-color: #333435;

$disabled-text-color: #777777;
$disabled-icon-color: #cccccc;


